/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.nav-all {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: 50px;

  .nav-item:hover {
    background-color: #f1f1f1;
  }
}

@mixin flexCenter($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

nav {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: 50px;

  // Aligns all nav elements together to the left, with a height dependent on view height.
  @include flexCenter(flex-start);

  // Container for the button, text and link
  .nav-button-box {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    .button-link {
      color: black;
      text-decoration: underline;
    }
    .button-link:hover {
      cursor: pointer;
    }
  }
}

.card-collection {
  //Defines the section as a full width area
  width: 100%;

  // Centres the cards horizontally
  @include flexCenter(space-evenly);

  //Aligns the text div at the top of the cross axis
  align-items: flex-start;

  flex-wrap: wrap;

  // Extra spacing at the bottom of the page
  padding-bottom: 10px;
}

// Reusable blog card
.event-card {
  width: 300px;
  height: 350px;
  margin: 10px;
  position: relative;

  // Gives it a card aesthetic
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  // Sets font family for all the children
  font-family: "Trebuchet MS", Arial, sans-serif;

  .card-image {
    height: 100px;
    width: 300px;
    margin-left: 0;
    position: absolute;
    background-color: grey;
  }

  img {
    width: 100%;
    height: auto;
    padding: 1px;
  }

  .card-title {
    margin-top: 90px;
    margin-left: 10px;
    position: absolute;

    .event-title {
      font-size: 16pt;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .event-location {
      font-size: 13pt;
      color: grey;
    }

    .event-organiser {
      font-size: 9pt;
      color: black;
    }

    // Different text style for date, less prominent
    .event-date {
      margin-top: 0px;
      margin-bottom: 10px;
      font-size: 11pt;
      font-weight: bold;
      color: rgb(255, 108, 68);
    }

    .event-description {
      font-size: 9pt;
    }
  }
}
