/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.nav-all {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: 50px;

  .nav-item:hover {
    background-color: #f1f1f1;
  }
}

@mixin flexCenter($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

nav {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: 50px;

  // Aligns all nav elements together to the left, with a height dependent on view height.
  @include flexCenter(flex-start);

  // Container for the button, text and link
  .nav-button-box {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    .button-link {
      color: black;
      text-decoration: underline;
    }
    .button-link:hover {
      cursor: pointer;
    }
  }
}
